on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: npm install
      # - run: xvfb-run -a npm test
      #   if: runner.os == 'Linux'
      # - run: npm test
      #   if: runner.os != 'Linux'
      - run: npm run create-package
      - uses: actions/upload-artifact@v4
        with:
          # Name of the artifact to upload.
          # Optional. Default is 'artifact'
          name: vscode-auto-collapse-explorer-${{ runner.os }}

          # A file, directory or wildcard pattern that describes what to upload
          # Required.
          path: packageDist
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          pattern: vscode-auto-collapse-explorer-*
      - run: ls -F
      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          files: |
            vscode-auto-collapse-explorer-*/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
